<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/single" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <button type="submit">Upload Single</button>
  </form>
<h1> <%=locals.message ? message:'' %> </h1>
  <form action="/multi" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" multiple />
    <button type="submit">Upload multi </button>
  </form>
  <h1> <%=locals.mss ? mss:''%> </h1>
  </body>
</html>
